body {
  background-color: #E6E6E6;
}

header {
position: absolute;
top: 0vh;
width: 100vw;
height: calc(100 / 960 * 100vh);
  background-color: #EEEEEE;

}

img#b{
position: absolute;
left: 0vw;
top: 1vh;
height: calc(100 / 960 * 100vh);
}

h1#oes{
position: absolute;
top: -1.8vh;
left: 28vw;
text-align:center;
font-size: 5vh;
}
div#main {
position: absolute;
top: calc(100 / 960 * 100vh);
width: 100vw;
height: calc(860 / 960 * 100vh);
  background-color: #E6E6E6;

}


div#main2 {
position: absolute;
top: calc(100 / 960 * 100vh);
width: 100vw;
height: calc(860 / 960 * 100vh);
  background-color: #E6E6E6;
font-size: 5vh;
text-align:center;
}

div#main3 {
position: absolute;
top: calc(100 / 960 * 100vh);
width: 100vw;
height: calc(860 / 960 * 100vh);
  background-color: #E6E6E6;
font-size: 5vh;
text-align:center;
}

div#books {
position: absolute;
top: calc(100 / 960 * 100vh);
width: 100vw;
height: calc(860 / 960 * 100vh);
font-size: 5vh;
text-align:center;
background: url('book.jpg');
background-size:100% 100%;
}


div#book1{
position: absolute;
border-radius:15px;
left: 10vw;
top: 3.7vh;
width: calc(210 / 1920 * 100vw);
height: calc(370 / 960 * 100vh);
background: url('7.jpg');
background-size:100% 100%;}

div#book2{
position: absolute;
border-radius:15px;
left: 27vw;
top: 3.7vh;
width: calc(210 / 1920 * 100vw);
height: calc(370 / 960 * 100vh);
background: url('8.jpg');
background-size:100% 100%;}

img#ldld{
position: absolute;
width: 100vw;
top: -38vh;
}